* {
    box-sizing: border-box;

    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
                    Helvetica Neue, Arial, sans-serif; 
    font-size: 16px;
    font-weight: 500;
}

body, html {
    margin: 0;
    padding: 0;

    background-color: #191819;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#calculator {
    border: 2px solid white;
    border-radius: 5px;
    padding: 4px;
}

#calculator-display {
    margin: 5px 0 10px 0;
    border: 2px solid grey;
    border-radius: 2px;
    height: 68px;
    width: 320px;
    padding: 5px;

    background-color: #447744;

    color: white;
    font-size: 32px;
}

#calculator-buttons {
    /* display: flex;
    flex-direction: column; */
}

.calculator-row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1;

    width: 100%;
    height: 80px;
}

.calculator-row > button {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 1px;
    width: 25%;

    background-color: #232323;

    color: white;
    font-size: 24px;
}