* {
    box-sizing: border-box;

    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
                    Helvetica Neue, Arial, sans-serif; 
    font-size: 16px;
    font-weight: 500;
}

body, html {
    margin: 0;
    padding: 0;

    background-color: #191819;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2vw;

    height: 100vh;
}

#calculator {
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px;
}

#calculator-display {
    margin: 5px 0 10px 0;
    border: 2px solid grey;
    border-radius: 2px;
    height: 80px;
    width: 320px;
    padding: 5px;

    background-color: #447744;

    color: white;
}

.calculator-display {
    margin: 0;
    height: 16px;
    padding: 0;

    text-align: right;
}

#calculator-display-operation {
    color: #AAAAAA;
    font-size: 20px;
}

#calculator-display-result {
    margin: 2px 0 5px;
    font-size: 32px;
    font-weight: 600;
}

.calculator-row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 1;

    width: 100%;
    height: 80px;
}

.calculator-row > button {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 1px;
    width: 25%;

    background-color: #232323;

    color: white;
    font-size: 24px;
}

button.calculator-disabled {
    color: #888888;
}

#history {
    border: 2px solid white;
    height: 55vh;
    width: 20vw;

    background-color: #232323;
    /* background-color: #191819; */
}

#history-list, .history-item {
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 90%;
}

#history-list::-webkit-scrollbar, .history-item::-webkit-scrollbar {
    display: none;
}

.history-item {
    border-bottom: 1px solid #AAAAAA;
    width: 100%;
    height: 60px;
    padding: 5px 5px;

    color: white;
    font-size: 32px;
    text-align: right;

    overflow-x: scroll;
}

.history-item > * {
    font-size: 32px;
}

.history-item-equation {
    color: #BBBBBB;
    font-weight: 500;
}

.history-item-result {
    font-weight: 700;
}

#history-clear {
    display: block;

    border: 1px solid white;
    width: 100%;
    height: 10%;

    background-color: #111144;

    color: white;
    font-weight: 400;
}
